//
//  Variables
//  _____________________________________________

@color-primario: #0D717F;
@color-secundario: #F6F8FB;
@color-variable: #EA8215;
@color-neutro: #737B7D;
@color-fuente: #0C0C0C;
@Fuente: 'Barlow';
@Fuente-secundaria: 'Inter';



//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .mfp-content {
        .mfp-iframe-scaler {
            .mfp-close {
                position: absolute;  
                top: 10px;
                right: 15px;
                width: auto;
                height: auto;
                display: inline-block;
                color: @color-fuente;
            }
            .mfp-iframe {
                border-radius: 8px;
                border: 1px solid @color-secundario;
            }
        }
    }
        
    .weltpixel_quickview-catalog_product-view {

        #maincontent.page-main {
            min-height: 500px;
            padding: 0;
            .product-full-width-section {
                padding: 0;
            }
            div.product.media {
                width: 45%;
                margin-top: 40px;
            }
            div.product-info-main {
                width: 55%;
                margin-top: 40px;
                padding-right: 70px;
            }
        }

        .discount-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 52px;
            height: 32px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 4px 8px;
            z-index: 2;
            background: @color-variable;
            .discount-text {
                font-family: @Fuente;
                font-size: 14px;
                font-weight: 600;
                color: #FFFFFF;
                margin-bottom: 0;
            }
        }

        .product-info-stock-sku {
            width: 100%;
            float: left;
            padding-left: 0;
            text-align: left;
            .stock.available {
                width: 110px;
                padding: 2px 8px;
                margin-bottom: 0;
                border-radius: 4px;
                border: 1px solid @color-secundario;
                span {
                    display: flex;
                    color: #00893A;
                    &::before {
                        content: '\F26B';
                        font-family: 'bootstrap-icons';
                        margin-right: 8px;
                    }
                }
            }
        }

        .container-dropdowns {
            width: 100%;
            height: 48px;
            display: flex;
            justify-content: flex-start;
            gap: 20px;
            padding: 12px 16px;
            margin-bottom: 0;
            align-items: center;
            border-top: 1px solid #CFD2D5;
            .dropdowns {
                &:hover {
                    cursor: pointer;
                }
                span {
                    align-self: center;
                    margin-bottom: 0;
                    img {
                        display: flex;
                    }
                }
                .technical-details-title, .attachments-title {
                    display: flex;
                    gap: 10px;
                    .technical-details-text, .attachments-text {
                        font-family: @Fuente;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 170%;
                        color: @color-fuente; 
                    }
                }
                .technical-details-content, .attachments-content {
                    padding: 5px;
                    box-shadow: e("0px 8px 40px rgb(0 0 0 / 5%);");
                    border-radius: 8px;
                }
                .technical-details-content {
                    position: relative;
                    left: -5%;
                    width: 140%;
                    min-height: 650px;
                    display: block;
                    padding: 0;
                    background: #FFFFFF;
                    .container-details {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 8px 16px;
                        background: #FFFFFF;
                        .details-text {
                            font-family: @Fuente;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 170%;
                            color: @color-fuente;
                        }
                        .details-value {
                            font-family: @Fuente;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 170%;
                            color: @color-fuente;
                        }
                    }
                    .detail-gray, .detail-sku:first-of-type + .container-details {
                        background: @color-secundario;
                    }
                    .detail-sku {
                        background: @color-secundario;
                    }
                }
                .attachments-content {
                    position: relative;
                    left: -32%;
                    width: 100%;
                    min-height: 325px;
                    display: block;
                    padding: 24px;
                    background: #FFFFFF;
                    .attachments-file {
                        width: 100%;
                        display: inline-flex;
                        flex-direction: column;
                        gap: 8px;
                        .attachments-text-content {
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            gap: 8px;
                            .attachments-text {
                                display: flex;
                                align-items: center;
                                font-family: @Fuente-secundaria;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 24px;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
            .dropdowns[aria-expanded="true"] {
                .technical-details-title, .attachments-title {
                    .technical-details-img, .attachments-img {
                        img {
                            transform: rotate(180deg);
                            transition: 0.5s;
                        }
                    }
                }
            }
            .dropdowns[aria-expanded="false"] {
                .technical-details-title, .attachments-title {
                    .technical-details-img, .attachments-img {
                        img {
                            transform: rotate(0);
                            transition: 0.5s;
                        }
                    }
                }
            }
        }

        div.product-info-main {
            text-align: left;
            .page-title-wrapper {
                border-bottom: 1px solid #CFD2D5;
                .page-title {
                    font-family: @Fuente-secundaria;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px !important;
                    line-height: 170%;
                    color: @color-fuente;
                }
            }
            .container-price-details {
                display: flex;
                flex-direction: column;
                .discount-price-details {
                    display: flex;
                    justify-content: space-between;
                    padding: 8px 0;
                    .price-details-content {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        .price-title, .price-content {
                            font-family: @Fuente;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 170%;
                            margin-bottom: 0;
                            color: @color-neutro;
                        }
                        .price-title-total {
                            color: @color-primario;
                        }
                        .price-content-total {
                            font-size: 24px;
                            color: @color-primario;
                        }
                    }
                }
                .price-details-promotions {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .text {
                        font-family: @Fuente;
                        font-style: normal;
                        margin-bottom: 0;
                        color: @color-variable;
                    }
                    .details-discount {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        .text-carrying {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 170%;
                            b {
                                font-weight: 600;
                            }
                        }
                    }
                    .price-discount {
                        .text-price {
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 140%;
                        }
                    }
                }
            }
            .product-info-price {
                border-bottom: none;
            }
            .product-add-form {
                padding: 20px 0 0;
            }
        }
        
        div.arrow-input-container {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 8px;   
            padding-bottom: 10px;
            .increase, .decrease {
                position: relative;
                width: 44px;
                height: 44px;
                display: flex;
                justify-content: center;
                align-self: center;
                border: 1px solid #434447;
                border-radius: 100px;
            }
            .increase {
                .icon-increase {
                    position: absolute;
                    top: 45.83%;
                    &:before {
                        content: "\F4FE";
                        font-family: 'bootstrap-icons';
                        font-size: 30px;
                        line-height: 0px;
                        color: #434447;
                    }
                }
            }
            .decrease {
                .icon-decrease {
                    position: absolute;
                    top: 45.83%;
                    &:before {
                        content: "\F2EA";
                        font-family: 'bootstrap-icons';
                        font-size: 30px;
                        line-height: 0px;
                        color: #434447;
                    }
                }
            }
            input[type="number"] {
                width: 308px;
                height: 44px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 12px 16px;
                border-radius: 8px;
                border: 1px solid #434447;
            }
        }
    
        form {
            .box-tocart {
                .fieldset {
                    margin-bottom: 0;
                    .actions {
                        button.primary {
                            width: 100%;
                            height: 48px;
                            border-radius: 8px;
                            background: @color-primario;
                            border-color: @color-primario;
                            span {
                                font-family: @Fuente;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 16px;
                            }
                        }
                    }
                }
            }
        }
        
    }     

    .catalog-product-view {
        .arrow-input-container {
            display: none;
        }
    }
    
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    
}
