//
//  Variables
//  _____________________________________________

@color-primario: #0D717F;
@color-secundario: #F6F8FB;
@color-variable: #EA8215;
@color-neutro: #737B7D;
@color-fuente: #0C0C0C;
@Fuente: 'Barlow';
@Fuente-secundaria: 'Inter';

//
//  Mixins
//  _____________________________________________

.titles {
    display: flex;
    align-items: center;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: @color-fuente;
    margin: 0;
    text-transform: inherit;
}

.texts {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: @color-fuente;
    margin-bottom: 0;
}



//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .toolbar.toolbar-products {
        display: inline-block;
        width:75%;
    }

    #layer-product-list >.pages {
        display: inline-block;
        margin: 0!important;
        padding: 0!important;
        margin-left: 25px!important;
    }

    body.slider-down-layer .toolbar-products {
        margin: 0!important;
        padding: 0!important;
        position: relative;
        top: 15px;
        .pages >ul >li.item {
            &.pages-item-next {
                display:block;
            }
            &.current {
                background: #0D717F;
            }
        }
    }

    .pages >ul >li.item {
        border: 1px solid #0D717F;
        border-radius: 5px;
        padding: 0px 6px;
        &.pages-item-next {
            display:none;
        }
        &.current {
            background: #E6EFFB;
        }
    }

    select#sorter {
        background: white;
        border: 1px solid #EAECEE;
        padding: 10px;
        height: auto;
        border-radius: 6px;
    }


    .list {
        .product-items {
            .product-item {
                padding: 0;
                margin-bottom: 30px;
                border-radius: 8px;
                border: 1px solid @color-secundario;
                .product-item-info {
                    position: relative;
                    .discount-content {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 52px;
                        height: 32px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 4px 8px;
                        border-radius: 8px 0 0;
                        z-index: 2;
                        background: @color-variable;
                        .discount-text {
                            font-family: @Fuente;
                            font-size: 14px;
                            font-weight: 600;
                            color: #FFFFFF;
                            margin-bottom: 0;
                        }
                    }
                    .product-item-photo {
                        width: auto;
                        display: flex;
                        justify-content: center;
                        padding: 0;
                        margin: auto;
                        .product-image-container {
                            width: 300px !important;
                        }
                    }
                    .container-stock {
                        position: relative;
                        left: 0;
                        width: 90px;
                        display: flex;
                        justify-content: flex-start;
                        gap: 5px;
                        padding: 5px;
                        margin-bottom: 56px;
                        border-radius: 4px;
                        z-index: 1;
                        border: 1px solid @color-secundario;
                        .stock-image {
                            display: flex;
                            align-self: center;
                            img {
                                width: 15px;
                                height: 15px;
                            }
                        }
                        .stock-text {
                            display: flex;
                            align-self: center;
                            font-family: @Fuente;
                            font-size: 14px;
                            font-weight: 400;
                            color: #00893A;
                            margin-bottom: 0;
                        }
                    }
                    .container-dropdowns {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 56px;
                        display: flex;
                        justify-content: flex-start;
                        gap: 16px;
                        padding: 16px;
                        border-top: 1px solid #CFD2D5;
                        .dropdowns {
                            &:hover {
                                cursor: pointer;
                            }
                            span {
                                align-self: center;
                                margin-bottom: 0;
                                img {
                                    display: flex;
                                }
                            }
                            .technical-details-title, .attachments-title {
                                display: flex;
                                gap: 10px;
                                .technical-details-text, .attachments-text {
                                    font-family: @Fuente;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 170%;
                                    color: @color-fuente;
                                }
                            }
                            .technical-details-content, .attachments-content {
                                padding: 5px;
                                box-shadow: e("0px 8px 40px rgb(0 0 0 / 5%);");
                                border-radius: 8px;
                            }
                            .technical-details-content {
                                position: absolute;
                                left: 0px;
                                width: 100%;
                                display: block;
                                padding: 0;
                                background: #FFFFFF;
                                .container-details {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    padding: 8px 16px;
                                    background: #FFFFFF;
                                    .details-text {
                                        font-family: @Fuente;
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 170%;
                                        color: @color-fuente;
                                    }
                                    .details-value {
                                        font-family: @Fuente;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 14px;
                                        line-height: 170%;
                                        color: @color-fuente;
                                    }
                                }
                                .detail-gray, .detail-sku:first-of-type + .container-details {
                                    background: @color-secundario;
                                }
                                .detail-sku {
                                    background: @color-secundario;
                                }
                            }
                            .attachments-content {
                                position: absolute;
                                left: 0px;
                                width: 100%;
                                display: block;
                                padding: 24px;
                                background: #FFFFFF;
                                .attachments-file {
                                    width: 30%;
                                    display: inline-flex;
                                    flex-direction: column;
                                    gap: 8px;
                                    .attachments-text-content {
                                        display: flex;
                                        flex-direction: row;
                                        align-items: flex-start;
                                        gap: 8px;
                                        .attachments-text {
                                            display: flex;
                                            align-items: center;
                                            font-family: @Fuente-secundaria;
                                            font-style: normal;
                                            font-weight: 400;
                                            font-size: 16px;
                                            line-height: 24px;
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                            }
                        }
                        .dropdowns[aria-expanded="true"] {
                            .technical-details-title, .attachments-title {
                                .technical-details-img, .attachments-img {
                                    img {
                                        transform: rotate(180deg);
                                        transition: 0.5s;
                                    }
                                }
                            }
                        }
                        .dropdowns[aria-expanded="false"] {
                            .technical-details-title, .attachments-title {
                                .technical-details-img, .attachments-img {
                                    img {
                                        transform: rotate(0);
                                        transition: 0.5s;
                                    }
                                }
                            }
                        }
                    }
                    .product-item-details {
                        .product-item-name {
                            width: 63.5%;
                            display: inline-block;
                            margin: 16px 0 0;
                            .product-item-link {
                                font-family: @Fuente;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 20px !important;
                                line-height: 130%;
                                color: @color-fuente;
                            }
                            .container-tags {
                                display: flex;
                                flex-direction: row;
                                width: 360px;
                                height: 22px;
                                align-items: flex-start;
                                gap: 4px;
                                padding: 0;
                                margin: 10px 0;
                                .tags-content {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                    padding: 4px 8px;
                                    border-radius: 4px;
                                    .text-tags {
                                        font-family: @Fuente;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 10px;
                                        line-height: 140%;
                                        margin-bottom: 0;
                                    }
                                }
                                .color-denim {
                                    color: #FFFFFF;
                                    background: #073A41;
                                }
                                .color-azure {
                                    color: #073A41;
                                    background: #0EC4DE;
                                }
                                .color-international-orange {
                                    color: @color-fuente;
                                    background: @color-variable;
                                }
                                .color-extremely-red {
                                    color: #FFFFFF;
                                    background: #F52F2F;
                                }
                            }
                            .container-price-details {
                                display: flex;
                                flex-direction: column;
                                border-top: 1px solid #CFD2D5;
                                .discount-price-details {
                                    display: flex;
                                    justify-content: space-between;
                                    padding: 20px 0 8px;
                                    .price-details-content {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-start;
                                        .price-title, .price-content {
                                            font-family: @Fuente;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 14px;
                                            line-height: 170%;
                                            margin-bottom: 0;
                                            color: @color-neutro;
                                        }
                                        .price-title-total {
                                            color: @color-primario;
                                        }
                                        .price-content-total {
                                            color: @color-primario;
                                            font-size: 24px;
                                        }
                                    }
                                }
                                .price-details-promotions {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    .text {
                                        font-family: @Fuente;
                                        font-style: normal;
                                        color: @color-variable;
                                        margin-bottom: 0;
                                    }
                                    .details-discount {
                                        display: flex;
                                        align-items: center;
                                        gap: 8px;
                                        .text-carrying {
                                            font-weight: 400;
                                            font-size: 14px;
                                            line-height: 170%;
                                            b {
                                                font-weight: 600;
                                            }
                                        }
                                    }
                                    .price-discount {
                                        .text-price {
                                            font-weight: 600;
                                            font-size: 24px;
                                            line-height: 140%;
                                        }
                                    }
                                }
                            }
                        }
                        .product-item-description, .price-box, .arrow-input-container, .product-item-inner {
                            width: 50%;
                            display: inline-block;
                            float: right;
                        }
                        .product-item-description {
                            display: none;
                        }
                        .container-input-card {
                            display: none;
                        }
                        .product-item-inner {
                            width: 35%;
                            height: 308px;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            gap: 15px;
                            padding: 0 16px;
                            // margin-top: -35px;
                            .arrow-input-container {
                                position: relative;
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                gap: 8px;
                                .increase, .decrease {
                                    width: 44px;
                                    height: 44px;
                                    display: flex;
                                    justify-content: center;
                                    align-self: center;
                                    border: 1px solid #434447;
                                    border-radius: 100px;
                                }
                                .increase {
                                    .icon-increase {
                                        position: absolute;
                                        top: 45.83%;
                                        &:before {
                                            content: "\F4FE";
                                            font-family: 'bootstrap-icons';
                                            font-size: 30px;
                                            line-height: 0px;
                                            color: #434447;
                                        }
                                    }
                                }
                                .decrease {
                                    .icon-decrease {
                                        position: absolute;
                                        top: 45.83%;
                                        &:before {
                                            content: "\F2EA";
                                            font-family: 'bootstrap-icons';
                                            font-size: 30px;
                                            line-height: 0px;
                                            color: #434447;
                                        }
                                    }
                                }
                                input[type="number"] {
                                    width: 121px;
                                    height: 48px;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                    text-align: center;
                                    padding: 12px 16px;
                                    border-radius: 8px;
                                    border: 1px solid #434447;
                                }
                            }
                            .product-item-actions {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                .actions-primary {
                                    width: 225px;
                                    .primary {
                                        width: 100%;
                                        height: 48px;
                                        background: @color-primario;
                                        border-color: @color-primario;
                                        border-radius: 8px;
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
   }

   .grid {
        .product-items {
            li.product-item {
                width: 301px;
                padding: 8px;
                border-radius: 8px;
                border: 1px solid @color-secundario;
                .product-item-info {
                    position: relative;
                    width: 301px;
                    .discount-content {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 52px;
                        height: 32px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 4px 8px;
                        border-radius: 8px 0 0;
                        z-index: 2;
                        background: @color-variable;
                        .discount-text {
                            font-family: @Fuente;
                            font-size: 14px;
                            font-weight: 600;
                            color: #FFFFFF;
                            margin-bottom: 0;
                        }
                    }
                    .product-item-photo {
                        .product-image-container {
                            span.product-image-wrapper[style="padding-bottom: 125%;"] {
                                padding-bottom: 100%!important;
                            }
                        }
                    }
                    .container-stock {
                        position: relative;
                        left: -10px;
                        width: 100px;
                        display: flex;
                        justify-content: center;
                        gap: 5px;
                        padding: 5px;
                        margin-bottom: 16px;
                        border-radius: 4px;
                        z-index: 1;
                        border: 1px solid @color-secundario;
                        .stock-image {
                            display: flex;
                            align-self: center;
                            img {
                                width: 15px;
                                height: 15px;
                            }
                        }
                        .stock-text {
                            display: flex;
                            align-self: center;
                            font-size: 14px;
                            font-weight: 400;
                            color: #00893A;
                            margin-bottom: 0;
                        }
                    }
                    .container-dropdowns {
                       display: none;
                    }
                    .product-item-details {
                        .product-item-name {
                            text-align: left !important;
                            .text-sub-title {
                                font-family: @Fuente;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 24px;
                                color: @color-neutro;
                            }
                            .product-item-link {
                                font-family: @Fuente;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 20px !important;
                                text-align: left !important;
                                line-height: 130%;
                                color: @color-fuente !important;
                            }
                            .container-tags {
                                max-width: 360px;
                                height: 22px;
                                display: flex;
                                flex-direction: row;
                                gap: 4px;
                                align-items: flex-start;
                                padding: 0;
                                margin: 10px 0;
                                .tags-content {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                    padding: 4px 8px;
                                    border-radius: 4px;
                                    .text-tags {
                                        font-family: @Fuente;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 10px;
                                        line-height: 140%;
                                        margin-bottom: 0;
                                    }
                                }
                                .color-denim {
                                    color: #FFFFFF;
                                    background: #073A41;
                                }
                                .color-azure {
                                    color: #073A41;
                                    background: #0EC4DE;
                                }
                                .color-international-orange {
                                    color: @color-fuente;
                                    background: @color-variable;
                                }
                                .color-extremely-red {
                                    color: #FFFFFF;
                                    background: #F52F2F;
                                }
                            }
                            .container-price-details {
                                display: flex;
                                flex-direction: column;
                                border-top: 1px solid #CFD2D5;
                                .discount-price-details {
                                    display: flex;
                                    justify-content: space-between;
                                    padding: 20px 0 8px;
                                    .price-details-content {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-start;
                                        .price-title, .price-content {
                                            font-family: @Fuente;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 14px;
                                            line-height: 170%;
                                            margin-bottom: 0;
                                            color: @color-neutro;
                                        }
                                        .price-title-total {
                                            color: #0D717F;
                                        }
                                        .price-content-total {
                                            color: @color-primario;
                                            font-size: 24px;
                                        }
                                    }
                                }
                                .price-details-promotions {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    .text {
                                        font-family: @Fuente;
                                        font-style: normal;
                                        color: @color-variable;
                                        margin-bottom: 0;
                                    }
                                    .details-discount {
                                        display: flex;
                                        align-items: center;
                                        gap: 8px;
                                        .text-carrying {
                                            font-weight: 400;
                                            font-size: 14px;
                                            line-height: 170%;
                                            b {
                                                font-weight: 600;
                                            }
                                        }
                                    }
                                    .price-discount {
                                        .text-price {
                                            font-weight: 600;
                                            font-size: 24px;
                                            line-height: 140%;
                                        }
                                    }
                                }
                            }
                        }
                        .product-item-inner {
                            display: flex;
                            flex-direction: column;
                            gap: 15px;
                            .arrow-input-container {
                                position: relative;
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                gap: 8px;
                                .increase, .decrease {
                                    width: 44px;
                                    height: 44px;
                                    display: flex;
                                    justify-content: center;
                                    align-self: center;
                                    border: 1px solid #434447;
                                    border-radius: 100px;
                                }
                                .increase {
                                    .icon-increase {
                                        position: absolute;
                                        top: 45.83%;
                                        &:before {
                                            content: "\F4FE";
                                            font-family: 'bootstrap-icons';
                                            font-size: 30px;
                                            line-height: 0px;
                                            color: #434447;
                                        }
                                    }
                                }
                                .decrease {
                                    .icon-decrease {
                                        position: absolute;
                                        top: 45.83%;
                                        &:before {
                                            content: "\F2EA";
                                            font-family: 'bootstrap-icons';
                                            font-size: 30px;
                                            line-height: 0px;
                                            color: #434447;
                                        }
                                    }
                                }
                                input[type="number"] {
                                    width: 65%;
                                    height: 48px;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                    text-align: center;
                                    padding: 12px 16px;
                                    border-radius: 8px;
                                    border: 1px solid #434447;
                                }
                            }
                            .product-item-actions {
                                display: flex;
                                flex-direction: column;
                                .actions-primary {
                                    .primary {
                                        width: 100%;
                                        height: 48px;
                                        background: @color-primario;
                                        border-color: @color-primario;
                                        border-radius: 8px;
                                        font-family: @Fuente;
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 16px;
                                        line-height: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
   }

   .widget {
        .block-content {
            .grid {
                .product-items {
                    li.product-item {
                        width: 300px;
                        div.actions-secondary {
                            position: absolute;
                            top: 10px;
                            right: 5%;
                            width: 35px;
                            height: 35px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            line-height: 35px;
                            border-radius: 50%;
                            background: @color-secundario;
                            .towishlist {
                                color: #00893A;
                                &:before {
                                    content: '\e667';
                                    font-weight: bold;
                                }
                                span {
                                    display: none;
                                }
                            }
                            .tocompare {
                                display: none;
                            }
                        }
                        .product-item-details {
                            .product-item-actions {
                                display: flex;
                                flex-direction: column;
                                margin: 0;
                                .actions-primary {
                                    .primary {
                                        width: 100%;
                                        height: 48px;
                                        border-radius: 8px;
                                        background: @color-primario;
                                        border-color: @color-primario;
                                        span {
                                            font-family: @Fuente;
                                            font-style: normal;
                                            font-weight: 500;
                                            font-size: 16px;
                                            line-height: 16px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
   }

   .widget-product-carousel {
        .slick-list {
            .slick-track {
                div.slick-slide  {
                    width: 300px !important;
                    li.product-item {
                        width: 300px !important;
                        padding: 8px;
                        border-radius: 8px;
                        border: 1px solid @color-secundario;
                        .product-item-info {
                            position: relative;
                            width: 300px;
                            .discount-content {
                                position: absolute;
                                top: -8px;
                                left: -8px;
                                width: 52px;
                                height: 32px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding: 4px 8px;
                                border-radius: 8px 0 0;
                                z-index: 2;
                                background: @color-variable;
                                .discount-text {
                                    font-size: 14px;
                                    font-weight: 600;
                                    color: #FFFFFF;
                                    margin-bottom: 0;
                                }
                            }
                            .product-item-photo {
                                .product-image-container {
                                    span.product-image-wrapper[style="padding-bottom: 125%;"] {
                                        padding-bottom: 100%!important;
                                    }
                                }
                            }
                            .container-stock {
                                position: relative;
                                left: -10px;
                                width: 100px;
                                display: flex;
                                justify-content: center;
                                gap: 5px;
                                padding: 5px;
                                margin-bottom: 16px;
                                border-radius: 4px;
                                z-index: 1;
                                border: 1px solid @color-secundario;
                                .stock-image {
                                    display: flex;
                                    align-self: center;
                                    img {
                                        width: 15px;
                                        height: 15px;
                                    }
                                }
                                .stock-text {
                                    display: flex;
                                    align-self: center;
                                    font-weight: @Fuente;
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: #00893A;
                                    margin-bottom: 0;
                                }
                            }
                            .product-item-details {
                                .product-item-name {
                                    text-align: left !important;
                                    .text-sub-title {
                                        font-size: 14px;
                                        font-weight: 400;
                                        line-height: 24px;
                                        color: @color-neutro;
                                    }
                                    .product-item-link {
                                        font-family: @Fuente;
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 20px !important;
                                        text-align: left !important;
                                        line-height: 130%;
                                        color: @color-fuente !important;
                                    }
                                    .container-tags {
                                        width: 360px;
                                        height: 22px;
                                        display: flex;
                                        flex-direction: row;
                                        align-items: flex-start;
                                        gap: 4px;
                                        padding: 0;
                                        margin: 10px 0;
                                        .tags-content {
                                            display: flex;
                                            flex-direction: row;
                                            justify-content: center;
                                            align-items: center;
                                            padding: 4px 8px;
                                            border-radius: 4px;
                                            .text-tags {
                                                font-family: @Fuente;
                                                font-style: normal;
                                                font-weight: 600;
                                                font-size: 10px;
                                                line-height: 140%;
                                                margin-bottom: 0;
                                            }
                                        }
                                        .color-denim {
                                            color: #FFFFFF;
                                            background: #073A41;
                                        }
                                        .color-azure {
                                            color: #073A41;
                                            background: #0EC4DE;
                                        }
                                        .color-international-orange {
                                            color: @color-fuente;
                                            background: @color-variable;
                                        }
                                        .color-extremely-red {
                                            color: #FFFFFF;
                                            background: #F52F2F;
                                        }
                                    }
                                    .container-price-details {
                                        display: flex;
                                        flex-direction: column;
                                        border-top: 1px solid #CFD2D5;
                                        .discount-price-details {
                                            display: flex;
                                            justify-content: space-between;
                                            padding: 20px 0 8px;
                                            .price-details-content {
                                                display: flex;
                                                flex-direction: column;
                                                align-items: flex-start;
                                                .price-title, .price-content {
                                                    font-family: @Fuente;
                                                    font-style: normal;
                                                    font-weight: 600;
                                                    font-size: 14px;
                                                    line-height: 170%;
                                                    margin-bottom: 0;
                                                    color: @color-neutro;
                                                }
                                                .price-title-total {
                                                    color: @color-primario;
                                                }
                                                .price-content-total {
                                                    font-size: 24px;
                                                    color: @color-primario;
                                                }
                                            }
                                        }
                                        .price-details-promotions {
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;
                                            .text {
                                                font-family: @Fuente;
                                                font-style: normal;
                                                margin-bottom: 0;
                                                color: @color-variable;
                                            }
                                            .details-discount {
                                                display: flex;
                                                align-items: center;
                                                gap: 8px;
                                                .text-carrying {
                                                    font-weight: 400;
                                                    font-size: 14px;
                                                    line-height: 170%;
                                                    b {
                                                        font-weight: 600;
                                                    }
                                                }
                                            }
                                            .price-discount {
                                                .text-price {
                                                    font-weight: 600;
                                                    font-size: 24px;
                                                    line-height: 140%;
                                                }
                                            }
                                        }
                                    }
                                }
                                .product-item-inner {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 15px;
                                    .product-item-actions {
                                        display: flex;
                                        flex-direction: column;
                                        .actions-primary {
                                            .primary {
                                                width: 100%;
                                                height: 48px;
                                                border-radius: 8px;
                                                background: @color-primario;
                                                border-color: @color-primario;
                                                span {
                                                    font-family: @Fuente;
                                                    font-style: normal;
                                                    font-weight: 500;
                                                    font-size: 16px;
                                                    line-height: 16px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
   }

    .page-products .products-list .product-item .weltpixel-quickview {
            display: none;
    }

    .catalogsearch-result-index {
        .products-list .product-item-info:hover .weltpixel-quickview.weltpixel_quickview_button_v2 {
            left: 22%;
            top: 68%;
        }
    }

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}
