<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Controller\Account\LoginPost"
                type="AgSoftware\Login\Plugin\CustomerRedirect"/>
    <preference for="WeltPixel\SocialLogin\Controller\Ajax\Login"
                type="AgSoftware\Login\Plugin\CustomerRedirect"/>
</config>
