& when (@media-common = true) {
    .theme-pearl {
        .page-wrapper {
            #maincontent {
                .columns {
                    .sidebar {
                        .wp-filters {
                            top: 5px !important;
                            .wp-slide-in {
                                margin: 10px 8px 0 0;
                                color: #0c0c0c;
                            }
                            .wp-slide-down-add {
                                .active {
                                    &::after {
                                        color: #0d717f;
                                        top: 6px;
                                        margin-left: 5px;
                                    }
                                }
                                &::after {
                                    color: #0d717f;
                                    top: 5px;
                                    margin-left: 5px;
                                }
                            }

                            .wp-filters-text {
                                font-family: "Barlow";
                                font-style: normal;
                                font-weight: 700;
                                font-size: 24px;
                                line-height: 130%;
                                text-transform: none;
                            }
                        }
                        .block {
                            padding-top: 20px;
                            box-shadow: e("0px 8px 40px rgb(0 0 0 / 5%);");
                            border-radius: 8px;
                            
                            .block-content {
                                .filter-current {
                                    width: 1135px;
                                    .filter-current-subtitle {
                                        display: none;
                                    }

                                    #wp_ln_shopby_items {
                                        margin-left: 35px;
                                        .item {
                                            color: #ffffff;
                                            height: 44px;
                                            border-radius: 8px;
                                            padding: 9px 35px 9px 10px;
                                            background: #0d717f;
                                            flex-direction: row;
                                            margin: 10px 16px 10px 0px;
                                            letter-spacing: 0em;

                                            .filter-label {
                                                font-family: "Barlow";
                                                font-style: normal;
                                                font-weight: 600;
                                                font-size: 14px;
                                                line-height: 170%;
                                            }

                                            .filter-value {
                                                font-family: "Barlow";
                                                font-style: normal;
                                                font-weight: 600;
                                                font-size: 14px;
                                                line-height: 170%;
                                                color: #ffffff;
                                            }
                                            .remove {
                                                height: 14px;
                                                position: relative;
                                                &:before {
                                                    font-size: 14px;
                                                    top: 3px;
                                                    color: #ffffff;
                                                    position: absolute;
                                                    width: 14px;
                                                    height: 14px;
                                                    left: 15px;
                                                }
                                            }
                                        }
                                    }
                                }
                                .block-actions {
                                    margin-top: -55px;
                                    letter-spacing: 0em;
                                    text-align: left;
                                    .filter-clear {
                                        span {
                                            font-family: "Barlow";
                                            font-style: normal;
                                            font-weight: 500;
                                            font-size: 16px;
                                            line-height: 16px;
                                            color: #0d717f;
                                        }
                                    }
                                }
                                .filter-options {
                                    height: 600px;
                                    width: 1135px;
                                    background: #ffffff;
                                    border-radius: 8px;
                                }
                                .block-subtitle {
                                    display: none;
                                }
                                #narrow-by-list {
                                    padding-top: 20px;
                                    .filter-options-item {
                                        border-bottom: none;
                                        gap: 16px;
                                        height: 320px;
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        padding: 0px;

                                        [aria-controls="attr_77"] {
                                            width: 253px !important;
                                        }
                                        #attr_77 {
                                            width: 253px;
                                            display: flex;
                                            flex-direction: column;
                                            gap: 25px;
                                            align-content: center;
                                            #slider-range {
                                                order: 1;
                                                background-color: #0d717f !important;
                                                width: 90%;
                                                .ui-slider-handle {
                                                    height: 22px;
                                                    width: 22px;
                                                    border-radius: 50%;
                                                    background: #0d717f;
                                                }
                                            }
                                            .wp-slider-inp {
                                                .wp-slider-inp-range {
                                                    flex-wrap: wrap;
                                                    .wp-slider-range-separator {
                                                        height: 1px;
                                                        width: 20px;
                                                        margin: 0px 12px 0px 5px;
                                                        color: white;
                                                        border: 1px solid
                                                            #eaecee;
                                                    }
                                                    .inp-type {
                                                        max-width: 40%;
                                                        margin-right: 8px;
                                                        margin-left: 0px;
                                                        height: 48px !important;
                                                        width: 99px;
                                                        border-radius: 8px;
                                                        padding: 12px 16px;
                                                        border: 1px solid
                                                            #eaecee;
                                                    }
                                                    .wp-price-slider-a {
                                                        top: 10px;
                                                        position: relative;
                                                        left: 42%;
                                                    }
                                                }
                                            }
                                        }
                                        .filter-options-title {
                                            width: 200px;
                                            font-family: Barlow;
                                            font-size: 16px;
                                            font-weight: 700;
                                            line-height: 21px;
                                            letter-spacing: 0em;
                                            text-align: left;
                                            .ms_counter {
                                                display: none;
                                            }
                                            &::after {
                                                color: #0d717f;
                                                top: 8px;
                                                right: 6px;
                                            }
                                        }
                                        .filter-options-content {
                                            width: 200px;
                                            height: 260px;
                                            overflow: visible;
                                            .wp-instant-search-wrapper {
                                                height: 22%;
                                                position: relative;
                                                bottom: 25px;
                                                font-size: 16px;
                                                &::before {
                                                    content: "\e615";
                                                    font-family: "luma-icons";
                                                    color: #0d717f;
                                                    position: relative;
                                                    left: 8px;
                                                    top: 38px;
                                                    padding: 10px;
                                                }
                                                .wp-instant-search-inp {
                                                    width: 200px;
                                                    height: 48px;
                                                    padding: 12px 14px 12px 38px;
                                                    gap: 8px;
                                                    border-radius: 8px;
                                                    border: 1px solid #eaecee;
                                                    font-size: 14px;
                                                    color: #737b7d;
                                                    &::placeholder {
                                                        color: transparent;
                                                    }
                                                }
                                            }
                                            .items {
                                                width: 200px;
                                                .item {
                                                    width: 100%;
                                                    &:last-of-type {
                                                        padding-bottom: 0;
                                                    }
                                                    a {
                                                        gap: 8px;
                                                        font-family: Inter;
                                                        font-size: 16px;
                                                        font-weight: 400;
                                                        line-height: 24px;
                                                        letter-spacing: 0em;
                                                        text-align: left;
                                                        color: #0c0c0c;
                                                        position: relative;
                                                        width: 100%;

                                                        &::before {
                                                            flex: 0 0 16px;
                                                            height: 16px;
                                                            border-radius: 4px;
                                                            border: 1px solid
                                                                #0d717f;
                                                        }
                                                        .count {
                                                            justify-content: flex-end;
                                                            font-size: 16px;
                                                            position: absolute;
                                                            right: 0;
                                                            &::before {
                                                                content: "";
                                                            }
                                                            &::after {
                                                                content: "";
                                                            }
                                                        }
                                                    }
                                                }
                                                .wp-ln-actions {
                                                    width: 100%;
                                                    text-align: center;
                                                    .icon-line-arrow-up {
                                                        &::before {
                                                            content: "Show less";
                                                            color: #0d717f;
                                                            font-family: "Barlow";
                                                            font-style: normal;
                                                            font-weight: 500;
                                                            font-size: 16px;
                                                            line-height: 16px;
                                                        }
                                                    }

                                                    .icon-line-arrow-down {
                                                        &::before {
                                                            content: "Show more";
                                                            color: #0d717f;
                                                            font-family: "Barlow";
                                                            font-style: normal;
                                                            font-weight: 500;
                                                            font-size: 16px;
                                                            line-height: 16px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 767px) {
    .theme-pearl {
        #layered-filter-block {
            .wp-ln-selected {
                a {
                    &:before {
                        background: linear-gradient(0deg, #0d717f, #0d717f),
                            linear-gradient(0deg, #ffffff, #ffffff) !important;
                        border: 1px solid #0d717f !important;
                    }
                }
            }
        }
    }
}
