@import "_header.less";
@import "_footer.less";
@import "_column.less";
@import "catalog/_plp.less";
@import "catalog/_pdp.less";
@import "popup.less";
@import "_mini-cart.less";

.weltpixellighting {
	color: black;
}
modal-popup popup-authentication modal-slide _inner-scroll _show
modal-popup popup-authentication modal-slide _inner-scroll _show


.popup-authentication #registration_section {
    background: green;
    width: 100%;
}

.theme-pearl .modals-wrapper .popup-authentication div.modal-inner-wrap .modal-content .block-authentication .block-new-customer .block-content .form-login .fieldset .field .control .input-text {
    width: 373px;
    height: 48px;
    border-radius: 8px;
}

.theme-pearl .modals-wrapper .popup-authentication div.modal-inner-wrap .modal-content .block-authentication .block-new-customer .block-title a#sl_login_tab_title .active {
    text-transform: none;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #0C0C0C;
    text-decoration: none;
}

.theme-pearl .modals-wrapper .popup-authentication div.modal-inner-wrap .modal-content .block-authentication .block-new-customer .block-content .form-login .fieldset .field .label span {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: #434447;
}

.theme-pearl .modals-wrapper .popup-authentication div.modal-inner-wrap .modal-content .block-authentication .block-new-customer .block-content .form-login .fieldset .actions-toolbar .primary .login {
    width: 198px;
    height: 48px;
    background-color: #0D717F;
    border-radius: 30px;
    border: 1px solid #0d717f;
}

.actions-toolbar {
    /* text-align: center; */
    /* color: white; */
    margin: 0 auto;
}

.theme-pearl .modals-wrapper .popup-authentication div.modal-inner-wrap .actions-toolbar{
  margin: 0 auto;
}


.popup-authentication .modal-inner-wrap .actions-toolbar
{
	height: 48px;
	width: 263px;
	left: 19px;
	top: 210px;
	border-radius: 30px;
	padding: 16px 32px 16px 32px;
}




//*Ajustes de Javi y Carlos*//
.block .block-title strong {
    text-transform: none;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #0C0C0C;
    text-decoration: none;
}

.block .block-content *, .block .empty * {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: #434447;
}

.fieldset.register input {
    width: 373px;
    height: 48px;
    border-radius: 8px;
}

.popup-authentication .modal-inner-wrap .actions-toolbar span {
    display: flex;
    color: white;
}

.action.primary.checkout {
	background-color: #0D717F;
	height: 48px;
	width: 263px !important;
	left: 19px;
	border-radius: 30px;
	padding: 16px 32px 16px 32px;
	
}

.cart-summary {
	background: #E6EFFB;
}


.action.update {
	height: 48px;
	width: 300px;
	border-radius: 8px;
	padding: 10px 32px 10px 32px;
	background-color: #fff;
	border: 1px solid #0D717F;
	color: #0D717F;
}


.col.subtotal .cart-price .price {
	color: #0D717F;
	font-family: Barlow;
	font-size: 24px;
	font-weight: 600;
	
}

.summary.title {
	font-family: Barlow;
	font-size: 22px;
	font-weight: 400;
	line-height: 33px;
	text-align: left;
	color: #0D717F;
}